@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
}

@layer base {
  * {
    @apply border-zinc-200;
  }
  body {
    @apply bg-white text-zinc-950;
  }
}

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for light mode */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
